<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9cb7ce9a-7035-4431-89b2-67afdb6a0a51/resourceGroups/azurekubernetesrg/providers/Microsoft.ContainerRegistry/registries/akslearning01</ResourceId>
    <ResourceName>akslearning01</ResourceName>
    <ResourceGroup>azurekubernetesrg</ResourceGroup>
    <Subscription>Visual Studio Professional</Subscription>
    <RegistryUrl>https://akslearning01.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c9fa4083-5010-4753-85b5-4aa0456fd7cf</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>